---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout>
  <Header />
  <section
    class="w-full h-full lg:w-[740px] mx-auto py-24 text-white text-center"
  >
    <HeroSection />
    <ExperienceSection />

    <article class="flex flex-start flex-col mt-40">
      <h2
        class="text-3xl font-bold flex justify-start items-center gap-4 mb-14"
      >
        <CodeIcon />
        Proyectos
      </h2>
    </article>
  </section>
</Layout>
