---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <Header />
  <section
    class="w-full h-full lg:w-[740px] mx-auto py-24 text-white text-center"
  >
    <HeroSection />
    <ExperienceSection />
    <Projects />
  </section>
</Layout>
