<footer
  class="w-[740px] mt-20 text-gray-400 py-4 px-2 flex justify-between items-center text-sm mx-auto"
>
  <p>© 2024 Efrain Andrade. Casi todos los derechos reservados</p>
  <nav class="flex gap-6">
    <a href="#about-me" class="hover:underline">Sobre mí</a>
    <a href="mailto:efrexz448@outlook.com" class="hover:underline">
      Contáctame
    </a>
  </nav>
</footer>
