---
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/Mail.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
---

<article>
  <h1 class="text-5xl font-bold">Hola, soy Efrain Andrade</h1>
  <p class="mt-4 text-lg leading-relaxed">
    Soy un Desarrollador <strong class="text-yellow-200">Frontend</strong>.
    Trabajo con <strong class="text-yellow-200"
      >React, Tailwind, Astro y TypeScript</strong
    > para diseñar interfaces atractivas y funcionales. Siempre busco mejorar mis
    habilidades y asumir nuevos desafíos 🚀
  </p>

  <div class="mt-6 flex justify-center gap-4">
    <SocialPill>
      <MailIcon />
      Contáctame
    </SocialPill>
    <SocialPill>
      <LinkedinIcon />
      LinkedIn
    </SocialPill>
  </div>
</article>
